02-workflow-orchestration/kestra/flows/taxi_ingest_2019_to_2021_v1.yaml
id: taxi_ingest_2019_to_2021_v1
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    values: ["green", "yellow"]
    defaults: "yellow"

  - id: year
    type: SELECT
    values: ["2019", "2020", "2021"]
    defaults: "2020"

  - id: month
    type: SELECT
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "12"

tasks:
  - id: download_data
    type: io.kestra.plugin.core.http.Download
    uri: "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.{{inputs.year == '2021' ? 'parquet' : 'csv.gz'}}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{outputs.download_data.uri}}"
    to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.{{inputs.year == '2021' ? 'parquet' : 'csv.gz'}}"
    projectId: "{{kv('GCP_PROJECT_ID')}}"